* {
  box-sizing: border-box;
}

.acordeon input {
  display: none;
}

.acordeon__titulo {
  display: block;
  padding: 15px;
  background:#3f9c23;
  color:#e8e8e8;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
.acordeon__titulo:hover {
  background: rgb(0 193 68);
}

.acordeon__contenido {
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
}

.acordeon input:checked ~ .acordeon__contenido{
  height: auto;
  margin: 15px 0;
}